<%= form_for(@article, :url => { :action => :destroy }, :html => { :method => :delete }) do |f| %>
  <p>Are you sure you want to delete the article titled '<%= @article.title %>'?</p>
  
  <div class="footer">
    <%= link_to 'No', :back %></div></br>
    <button type="submit">Yes &raquo;</button>
  </div>
<% end %>
