<%= form_for(@author, :url => { :action => :destroy }, :html => { :method => :delete }) do |f| %>
  <p>Are you sure you want to delete the author named '<%= @author.first_name, author.last_name %>'?</p>
  
  <div class="footer">
    <%= link_to 'No', :back %></div></br>
    <button type="submit">Yes &raquo;</button>
  </div>
<% end %>